<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <a href="/">Home</a>
      <a>Dashboard</a>
      {{log logged_in}}
      {{#if logged_in}}
      <a>Logout</a>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
      <h1>Tech Blog</h1>
    </header>
    <div id="body-container">
      {{{ body }}}
    </div>
  </body>
</html>