<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#if logged_in}}
      <a id="logout">Logout</a>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
      <h1>Tech Blog</h1>
    </header>
    <div id="body-container">
      {{{ body }}}
    </div>
  </body>

  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
</html>