<div class="login-window">
    <form>
        <div class="login-section">
            <h2>Already have an account? <a href="/login">Login</a></h2>
        </div>
        <div class="login-section">
            <h2>Username: </h2>
            <input type="text" id="sign-up-username">
        </div>
        <div class="login-section">
            <h2>Password: </h2>
            <input type="password" id="sign-up-password">
        </div>
        <div class="login-section">
            <button id="sign-up-button">Sign Up</button>
        </div>
    </form>
</div>

<script src="/js/signUp.js"></script>