:root{
    --mainIndigo: #3A1772;
    --blue: #89B8D2;
    --pink: #D741A7;
    --background: #F5F6F4;
}

body{
    width: 100%;
    margin: 0;
    background-color: var(--blue);
}

header{
    width: 100%;
    background-color: var(--mainIndigo);
    position: relative;
    top: 0;
    display: block;
    padding: 0.5em;
    box-sizing: border-box;
}

header a{
    color: var(--blue);
    font-size: 2em;
    margin: 0 1em;
    user-select: none;
    text-decoration: none;
}

header a:hover{
    color: var(--pink);
    cursor: pointer;
}

h1{
    color: var(--blue);
    font-size: 6em;
    text-align: center;
    margin: 0;
}

#body-container{
    display: block;
}

.post-link{
    text-decoration: none;
}

.post-container{
    margin: 2em auto;
    width: 90%;
    border: var(--mainIndigo) 0.3em solid;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px black;
}

.post-link:hover{
    cursor: pointer;
}

.post-link:hover .post-header *{
    color: var(--pink);
}

.post-container p{
    color: var(--mainIndigo);
    margin: 1em;
    font-size: 1.1em;
}

.post-header{
    background-color: var(--mainIndigo);
    color:var(--blue);
    padding: 0.5em;
}

.post-header *{
    display: inline;
}

.post-header p{
    float: right;
    color: var(--blue);
    margin: 0;
}

.login-window{
    width: 80%;
    margin: 2.5em auto;
    background-color: var(--mainIndigo);
    color: var(--blue);
    font-size: 1.5em;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 15px;
    max-width: 35em;
}

.login-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.login-section a{
    text-decoration: none;
    color: var(--blue);
}

.login-section a:hover{
    cursor: pointer;
    color: var(--pink);
}

.login-section input{
    margin: auto 0 auto 1em;
    height: 1em;
    font-size: 1.5em;
}

.login-section button{
    background-color: var(--blue);
    color: var(--mainIndigo);
    font-size: 1.5em;
    margin: 0.5em auto;
}

.login-section button:hover{
    cursor: pointer;
    color: var(--pink);
}

.comment-button{
    margin: 0 auto;
    background-color: var(--mainIndigo);
    color: var(--blue);
    border-radius: 10px;
    padding: 0.7em;
    outline: none;
    border: none;
    font-size: 1.1em;
    display: block;
}

.comment-button:hover{
    cursor: pointer;
    color:var(--pink);
}

#submit-comment{
    margin: auto 1em;
    display: block;
}

#new-comment{
    display: none;
    justify-content: space-around;
}

#new-comment textarea{
    flex-grow: 1;
    background-color: var(--blue);
    border: none;
    color: var(--mainIndigo);
    font-size: 1.1em;
    font-family: inherit;
}